* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: system-ui, -apple-system, sans-serif;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1; /* Base z-index */
}

.screen.active {
    display: block;
    z-index: 100; /* Active screens on top */
}

#loading-screen.active {
    z-index: 9999
}
